@model IEnumerable<MvcMovie.Models.Books>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Utwórz nowy wpis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydawnictwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytuł)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wydawnictwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
