@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>więcej informacji na temat filmu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytuł)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytuł)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataWydania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWydania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reżyser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reżyser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiczbaOskarów)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiczbaOskarów)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
